* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg,#ADD8E6, #F5F5F5);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 15px;
    border-color: rgb(19,23,72);
}

#titulo {
    color: rgb(220,41,135);
    padding: 20px;
}

.calculadora {
    position: absolute;
    background-color: rgb(220,41,135);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 12px;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(238,204,217); 
    color: #000;
    border: none;
    border-radius: 2px;
}

    .botao:hover {
        background-color: rgb(224,216,226);
    }

#igual {
    height: 106px;
}

#zero {
    width: 106px;
}

#resultado {
    background-color: white;
    color: #000;
    width: 214px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
}
